# Activa el motor de reescritura de URLs
RewriteEngine On

# Si la petición NO es para un archivo existente...
RewriteCond %{REQUEST_FILENAME} !-f
# Y si la petición NO es para un directorio existente...
RewriteCond %{REQUEST_FILENAME} !-d

# ...entonces redirige la petición a index.php
RewriteRule . index.php [L]