:root {
  --color-dark-blue: #2469a0;
  --color-light-blue: #10bce3;
  --color-teal: #3dd6af;
  --color-light-green: #8bee27;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-text: #666666; /* Un gris para texto secundario */
  --color-gray-border: #dddddd; /* Un gris para bordes sutiles */
}

main {
  width: 100vw;
  height: 90vh;
}

.home-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.search-section {
  display: flex;
  height: 20%;
  width: 95%;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.search-form {
  display: flex;
  height: 100%;
  width: 100%;
}

.search-fields-container {
  display: inline-flex;
  height: 100%;
  width: 35%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.search-fields {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-content: center;
}

.field {
  margin: 0 0.6rem;
}

.search {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
  align-items: center;
  justify-content: space-around;
}

.search-bar {
  display: flex;
  height: fit-content;
  width: 80%;
  flex-direction: column;
  gap: 1rem;
}

.search-button {
  display: flex;
  height: fit-content;
  width: fit-content;
  padding: 0.3rem;
  color: #fff;
  background-color: #3dd6af;
  border: 0;
  border-radius: 0.4rem;
  flex-direction: column;
}

.input-checkbox {
  accent-color: var(--color-teal);
}

.results-container {
  display: flex;
  height: 75%;
  width: 95%;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.results-header {
  display: flex;
  height: 15%;
  width: 95%;
  justify-content: space-between;
}

.results-title {
  display: inline-flex;
  align-items: center;
  color: var(--color-gray-text);
  font-size: 25px;
}

.results-buttons {
  display: inline-flex;
  height: 100%;
  width: 20%;
  justify-content: space-between;
  align-items: center;
}

.results-button {
  display: inline-flex;
  height: 1.5rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-teal);
  color: #fff;
  border-radius: 5px;
}

.csv-icon svg {
  height: 1rem;
  width: fit-content;
}

.csv-icon {
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  margin-right: 0.2rem;
  color: var(--color-white);
}

.trash-icon svg {
  height: 1rem;
  width: 1rem;
}
.trash-icon {
  color: #fff;
  margin-right: 0.2rem;
}

.results {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 95%;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.database-icon svg {
  height: 14rem;
  width: 14rem;
}

.database-icon {
  display: flex;
  width: fit-content;
  align-items: center;
  color: var(--color-gray-text);
}

.results-message
{
  text-align: center;
}

.salida {
  display: block;
  width: 100%;
  height: 100%;
}
