.document-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 0 24px;
  box-sizing: border-box;

  background-color: var(--bg-surface);
  border-radius: 12px;
  box-shadow: 0 2px 4px var(--shadow-color);
  border: 1px solid transparent;
  margin-bottom: 16px;

  position: relative;
}

.document-item:hover {
  border-color: var(--border-brand);
  box-shadow: 0 4px 12px var(--shadow-color);
}

.document-icon-wrapper {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.document-icon-wrapper svg {
  width: 100%;
  height: 100%;
}

.document-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  overflow: hidden;
}

.document-name {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-muted);
  margin-bottom: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.document-created {
  font-size: 13px;
  color: var(--text-muted);
  font-weight: 400;
}

.document-actions {
  width: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu-trigger {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-trigger:hover {
  background-color: var(--menu-item-hover);
  color: var(--trigger-hover);
}

@media (max-width: 480px) {
  .document-item {
    padding: 15px;
    min-height: 70px;
  }
  .document-icon-wrapper {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }
  .document-name {
    font-size: 14px;
  }
  .document-created {
    font-size: 12px;
  }
}